body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Solis', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240);;
}
@font-face {
  font-family: 'Solis';
  src: local('Solis-Thin') url(./media/Solis/Solis-Thin.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
